{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Against Property</title>
    <!-- {% comment %} <link rel="stylesheet" href="css/Loan.css"> {% endcomment %} -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

        <link rel="stylesheet" href="{% static 'css/Common.css' %}">
        <link rel="stylesheet" href="{% static 'css/Loan.css' %}">
        

        <script src="{% static 'js/Main.js' %}"></script>
        <script src="{% static 'js/Common.js' %}"></script>

        
        <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <!-- {% comment %} <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> {% endcomment %} -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    
    <!--seperate-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--seperate-->

<style>

    
    .faqcard.card {
        background-color: #e3dcc1;
        margin-bottom: 25px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
        border: none; 
    }
    .faqcard .card-header {
        cursor: pointer; 
    }    
    .faqcard .card-header {
        cursor: pointer;
    }    
    .faqcard h5{
            font-weight: bold;
        }
    </style>
</head>

<body>

      

    <div class="navbar-section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "assets/img/mainlogo-removebg-preview.png" %}" alt="SLN-Logo" class="img-fluid w-100" style="height: 100px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link Aboutus" aria-current="page" href="{% url 'about' %}">About Us</a>
                        </li>
      
                        <li class="nav-item dropdown loan">
                            <a class="nav-link dropdown-toggle loans" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Loans
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'personalloans' %}">Personal Loan</a></li>
                                <li><a class="dropdown-item" href="{% url 'educationalloan' %}">Educational Loan</a></li>
                                <li><a class="dropdown-item" href="{% url 'homeloan' %}">Home Loan</a></li>
                                <li><a class="dropdown-item" href="{% url 'gold' %}">Gold Loan</a></li>
                                <li><a class="dropdown-item" href="{% url 'bussinessloan' %}">Business Loan</a></li>
                                <li><a class="dropdown-item" href="{% url 'lap' %}">Loan Against Property</a></li>
      
                                <li class="dropdown-submenu hover-dropdown">
                                    <a class="dropdown-item" href="{% url 'carloan' %}">Car Loan</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'usedcar' %}">Used Car Loans</a></li>
                                        <li><a class="dropdown-item" href="{% url 'newcar' %}">New Car Loans</a></li>
                                    </ul>
                                </li>

                                  
      
                                
      
                            </ul>
                        </li>
      
                        <li class="nav-item">
                            <a class="nav-link credit-cards" href="{% url 'creditpage' %}">Credit Cards</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle insurance" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Insurance
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'allinsurance'%}">All Insurances</a></li>
                                <li><a class="dropdown-item" href="{% url 'lifeinsurance'%}">Life Insurance</a></li>
                                <li><a class="dropdown-item" href="{% url 'generalinsurance'%}">General Insurance</a></li>
                                <li><a class="dropdown-item" href="{% url 'healthinsurance'%}">Health Insurance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contactus" href="{% url 'contact'%}">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle partner" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Become a Partner
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'dsa' %}">DSA Partner</a></li>
                                <li><a class="dropdown-item" href="{% url 'franchise' %}">Franchise Program</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle insurance" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                CheckStatus
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if pl %}
            {% for item in pl %}
                <li>
                    <a href="{% url 'view_personal_verify' instance_id=item.id %}" class="dropdown-item" style="text-decoration: none;">
                        PersonalLoan
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>No loans available.</li>
        {% endif %}
        {% if bus %}
        {% for loan in bus %}
           <li><a href="{% url 'buscustomer-profile' application_id=loan.id %}" class="dropdown-item" style="text-decoration: none;">
               BusinessLoan</a></li>
               {% endfor %}
               {% else %}
   <li>No loans available.</li>
{% endif %}
                                
                                {% if edu %}
                                {% for item in edu %}
                                    <li>
                                        <a href="{% url 'customer-profile' application_id=item.id %}" class="dropdown-item"style="text-decoration: none;">
                                            educationalloan
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>No loans available.</li>
                            {% endif %}

                                {% if hl %}
            {% for item in hl %}
                <li>
                    <a href="{% url 'view_home_verify' instance_id=item.id %}" class="dropdown-item" style="text-decoration: none;">
                        Home Loan
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>No loans available.</li>
        {% endif %}
                                <!-- ================================== -->
                                {% if loans %}
                             {% for loan in loans %}
                                <li><a href="{% url 'viewcustomerverify' instance_id=loan.id %}" class="dropdown-item" style="text-decoration: none;">
                                    LoanAgainstProperty</a></li>
                                    {% endfor %}
                                    {% else %}
                        <li>No loans available.</li>
                    {% endif %}
                            </ul>
                        </li>
                    <!-- Navigation bar -->
                    <li class="nav-item dropdown me-4">
                        <a class=" dropdown-toggle loans btn btn-danger" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if request.session.email %}
                                My Profile
                            {% else %}
                                Sign In
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% if request.session.email %}
                                <li><a class="dropdown-item" href="#">{{ request.session.email }}</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'generate-verify-otp' %}">Sign In</a></li>
                                {% endif %}
                        </ul>
                    </li>
                               
                    <li class="nav-item">
                        <a class="nav-link contactus" href="{% url 'login' %}">employee</a>
                    </li>
                    </ul>
                                
                            </ul>
                        </li>
          
          
          
          
          
                            
                        </ul>
                </div>
            </div>
        </nav>
      </div>
      
<!-- nav bar code  -->

<script>
    $(document).ready(function() {
        $('.dropdown-submenu.click-dropdown .dropdown-toggle').on('click', function(e) {
            e.stopPropagation();
            $(this).next('.dropdown-menu').toggle();
        });
    });
</script>

        <!-- nav bar code  -->
 
    <section class="Psection1">
        <div class="wavy-background">
            <div class="container">
                <div class="row">
                    <!--column1-->
                    <div class="col-lg-6 col-sm-12 column1">
                        <div class="content">
                            <p class="display-5 fw-bold main-heading">Transform your Property into Capital with Our Loan Against
                                Property Option</p>
                        </div>
                        <br><br>
                        <h6 class="sub-heading">Unlock your Property into Capital with our Flexible Loan Against Property Option. Enjoy
                            Lower Interest Rates with Instant Approval</h6>
                        <br><br>
                        <a href="{% url 'basicdetail' %}"><button class="btn button btn-danger"><b>Apply</b></button></a>
                    </div>
                    <!--column1-->
                    <div class="col-lg-6 col-sm-12 column2">
                        <img src="{% static 'Images/LoanAgainstPropertyImages/loan-againts-property.png' %}" class="img-fluid w-100">
                    </div>
                </div>
            </div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f0faff" fill-opacity="1"
                    d="M0,64L40,96C80,128,160,192,240,218.7C320,245,400,235,480,224C560,213,640,203,720,197.3C800,192,880,192,960,181.3C1040,171,1120,149,1200,138.7C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
                </path>
            </svg>
        </div>
    </section>


    <div class="position-fixed ms-auto scroll-to-top">
        <!-- <img src="./Images/Scroll_to_top_icon.png" class="img-fluid" style="width:50px;"> -->
    </div>


    <section id="Psection2" class="Psection2">
        <div class="container mt-md-5">
            <nav class="">
                <a href="#" data-section="PersonalLoan-section1" class="nav-item item1">OVERVIEW</a><span
                    class="symbol">|</span>
                <a href="#" data-section="PersonalLoan-section2" class="nav-item">FEATURES</a><span
                    class="symbol">|</span>
                <a href="#" data-section="PersonalLoan-section3" class="nav-item">ELIGIBILITY</a><span
                    class="symbol">|</span>
                <a href="#" data-section="PersonalLoan-section4" class="nav-item">DOCUMENTS</a><span
                    class="symbol">|</span>
                <a href="#" data-section="PersonalLoan-section5" class="nav-item">EMI CALCULATOR</a><span
                    class="symbol">|</span>
                <!-- <a href="#" data-section="PersonalLoan-section6" class="nav-item">FEES AND CHARGES</a><span
                    class="symbol">|</span> -->
                <a href="#" data-section="PersonalLoan-section7" class="nav-item">FAQ'S</a><span class="symbol">|</span>
            </nav>
        </div>
    </section>









    <section class="Psection3 mt-5 overview" id="PersonalLoan-section1">
        <div class="container">
            <h1>Personal Loan Feature</h1>
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-2 mb-4">
                    <div class="card w-100 h-100">
                        <img src="{% static 'Images/cardsImages/percentageTag.png'%}" class="card-img-top w-50" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build .</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-2 mb-4">
                    <div class="card w-100 h-100">
                        <img src="{% static 'Images/cardsImages/keyCoin.png'%}" class="card-img-top w-50" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build .</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-2 mb-4">
                    <div class="card w-100 h-100">
                        <img src="{% static 'Images/cardsImages/groupImg.png'%}" class="card-img-top w-50" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build .</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card w-100 h-100">
                        <img src="{% static 'Images/cardsImages/coinsBlog.png'%}" class="card-img-top w-50" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build .</p>
                        </div>
                    </div>
                </div>





            </div>
        </div>

    </section>


    <!-- Section4 -->

    <section class="Features Psection4 mt-5" id="PersonalLoan-section2">
        <div class="container">
            <div class="row">
                <div class="col-12 column1">

                    <h1>Features and Benefits of our Loan Against Property</h1>
                    <br>



                    <div class="container">

                        <!-- <div style="width:5px;height: 5px; background-color: black;border-radius: 50%;"></div> -->


                        <ul>
                            <li style="line-height: 30px;">
                                <strong>Secured Loan :</strong> The loan is secured against the value of your property.
                                The property acts as collateral, reducing the risk for the lender. This generally leads
                                to lower interest rates compared to unsecured loans.
                            </li>
                            <li class="mt-3" style="line-height: 30px;">
                                <strong>Loan Amount:</strong> The loan amount is determined based on the value of the
                                property you pledge. Generally, you can get a higher loan amount compared to personal
                                loans or other unsecured loans.
                            </li>
                            <li class="mt-3" style="line-height: 30px;">
                                <strong>Flexible Tenure :</strong> The tenure (repayment period) for a Loan Against
                                Property is usually longer compared to other types of loans, often ranging from 5 to 20
                                years. This allows for lower monthly installments.
                            </li>
                            <li class="mt-3" style="line-height: 30px;">
                                <strong>Multipurpose :</strong> The loan amount can be used for a wide range of
                                purposes, giving you the flexibility to address various financial needs without any
                                restrictions.
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="col-12 column2 mt-5">

                    <div class="card w-100 h-100">


                        <div class="card-body">


                            <h3 class="card-title">Loan Against Property Eligibility and Documents</h3>

                            <div class="row align-items-center"><!--row-->
                                <div class="col-md-6 col-12">
                                    <p class="">
                                    <p>Read on to know the criteria required to apply for our Personal Loan.</p>
                                    </p>
                                </div>
                                <div class="col-md-6 col-12   text-md-end ">


                                    <a href="#"><button class="btn button btn-danger" class="">Apply</button></a>


                                </div>
                            </div><!--row-->



                        </div>

                    </div>

                </div>

            </div>


    </section>

    <!-- Section4 -->


    <!-- section5 -->


    <section class="Psection5 mt-5" id="PersonalLoan-section3">

        <div class="container">
            <h1>Eligibility Criteria for Loan against Property</h1>
            <br>

            <p> <strong style="font-size: 20px;">Nationality:</strong> You need to be a Citizen of India with documents
                to prove your claim.</p>
            <p> <strong style="font-size: 20px;">Occupation and Income: </strong> Your lender will require you to
                furnish details regarding your occupation and income to prove your professional and financial stability
                to determine your creditworthiness.</p>

            <p> <strong style="font-size: 20px;">Credit History:</strong> Your three-digit Credit Score, indicative of
                your track record in respect of repayment of loans, and other forms of credit will be a deciding factor
                to prove your eligibility for a LAP.</p>
            <p> <strong style="font-size: 20px;">Banking Relationship: </strong> Should you have a healthy relationship
                with your lender, you will not be disapproved for a LAP. Additionally, your lender will offer you better
                terms and conditions in respect of loan value, interest rates, period of the loan, hidden charges, and
                processing fees.</p>
        </div>
    </section>


    <!-- section5 -->


    <!-- section6 -->


    <section class="Psection6 mt-5" id="PersonalLoan-section4">
        <div class="container">

            <h1>Documents Required to Apply for Loan Against Property</h1>
            <br>
            <div class="container">
                <ol>
                    <li>Proof of identity/residence</li>
                    <li>Proof of income</li>
                    <li>Property-related documents</li>
                    <li>Proof of Business (for self-employed)</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- section6 -->

    <!-- section7 -->

    <section class="Psection7 mt-5" id="PersonalLoan-section5">

        <div class="container">

            <h1>Loan Against Property EMI Calculator</h1>
            <p class="mt-3">A Loan Against Property may be termed as a Mortgage Loan since to avail an LAP, you need to
                mortgage your property to cover risk of non-payment or default in repayment of the funds borrowed. For
                any lender to approve such a borrowing, the lender will first analyse your personal and financial
                profile, which will include criteria such nationality, age, occupation, income, and market value of the
                collateral you are willing to keep. A mortgage loan calculator then calculates the financial
                implications of such a loan based on certain parameters based on eligibility criteria to enable approval
                of your Mortgage Loan.</p>

            <h6 class="fw-bold">How is Loan Against Property EMI Calculated?</h6>
            <h6 class="fw-bold">Loan Against Property EMI (Equated Monthly Installment) is calculated using the
                following Compound Interest formula:</h6>

            <p style="margin-right: 100%;">
                $$ \text{EMI} = \frac{P \times r \times (1 + r)^n}{(1 + r)^n - 1} $$
            </p>
            <br>
            <h6 class="fw-bold">Where:</h6>

            <p>EMI = Equated Monthly Installment</p>

            <p>P = Loan Against Property principal amount</p>

            <p>r = Monthly interest rate (Annual interest rate divided by 12, expressed as a decimal)</p>

            <p>n = Loan Against Property tenure in months</p>

        </div>
    </section>


    <!-- section7 -->


    <!-- section8 -->

    <!-- <section class="Psection8 mt-5" id="PersonalLoan-section6">

        <div class="container">
            <h1>Costs and Fees Associated with Loan Against Property</h1>
            <p>The fees and charges of property loans usually vary from lender to lender and from case to case. The
                aforementioned table will give you a fair idea of the fees and charges related to property loans:</p>

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card px-4 ">
                        <div class="card-body">



                            <div class="custom-table">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Particulars</th>
                                            <th>Charges</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>


                                            <td>
                                                <h6>Loan Processing Fees</h6>
                                            </td>
                                            <td>
                                                <p>4999/- to 5% of Loan Amount</p>
                                            </td>


                                        </tr>
                                        <br>
                                        <tr>
                                            <td>
                                                <h6>Loan Cancellation</h6>
                                            </td>
                                            <td>
                                                <p>Usually 3000 to 5% of Loan Amount</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Stamp Duty Charges</h6>
                                            </td>
                                            <td>
                                                <p>150/- to 300/-</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Legal Fees</h6>
                                            </td>
                                            <td>
                                                <p>As per actuals</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>Penal Charges</h6>
                                            </td>
                                            <td>
                                                <p>Usually 2% per month</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>EMI / Cheque Bonus</h6>
                                            </td>
                                            <td>
                                                <p>Approx 499/- to 599/-</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-5 text-primary">Additional fees and charges that lenders might impose on your personal loan
                comprise documentation fees, verification fees, charges for duplicate statements, fees for issuing NOC
                certificates, and swap charges.






            </p>
        </div>



    </section> -->



    <!-- section8 -->



    <!-- section9 -->


    <section class="Psection9 mt-5" id="PersonalLoan-section7">

       



        <div id="faqAccordion"><!--Accordian-->

        </div><!--Accordian-->

        <div class="container mt-3">
            <h1>Loan Against Property FAQs</h1>

            <div class="row">
                <div class="col-12">

                    <div id="faqAccordion"><!--Accordian-->

                    <div class="card faqcard">
                        <div class="card-header" id="faq1Heading" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1">
                            <h5 class="mb-0">
                                What is a loan against property?
                            </h5>
                        </div>
                        <div id="faq1" class="collapse" aria-labelledby="faq1Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                A loan against property (LAP) is a secured loan where you pledge your property (residential or commercial) as collateral to avail funds from a lender.
                            </div>
                        </div>
                    </div>


                    <div class="card faqcard">
                        <div class="card-header" id="faq2Heading" data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
                            <h5 class="mb-0">
                                What types of properties can be pledged for a loan against property?
                            </h5>
                        </div>
                        <div id="faq2" class="collapse" aria-labelledby="faq2Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Properties such as residential houses, commercial buildings, and land can typically be pledged for a loan against property.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq3Heading" data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
                            <h5 class="mb-0">
                                What is the maximum loan amount one can get against a property?
                            </h5>
                        </div>
                        <div id="faq3" class="collapse" aria-labelledby="faq3Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                The maximum loan amount depends on factors such as the property's value, the lender's policies, and the borrower's repayment capacity.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq4Heading" data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
                            <h5 class="mb-0">
                                How is the interest rate determined for a loan against property?
                            </h5>
                        </div>
                        <div id="faq4" class="collapse" aria-labelledby="faq4Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Interest rates for LAP are usually determined based on factors like the property's value, loan amount, and the borrower's creditworthiness.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq5Heading" data-toggle="collapse" data-target="#faq5" aria-expanded="true" aria-controls="faq5">
                            <h5 class="mb-0">
                                What are the tenure options available for a loan against property?
                            </h5>
                        </div>
                        <div id="faq5" class="collapse" aria-labelledby="faq5Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Tenure options typically range from 5 to 20 years, depending on the lender and the borrower's preferences.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq6Heading" data-toggle="collapse" data-target="#faq6" aria-expanded="true" aria-controls="faq6">
                            <h5 class="mb-0">
                                Can one prepay or foreclose a loan against property?
                            </h5>
                        </div>
                        <div id="faq6" class="collapse" aria-labelledby="faq6Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Yes, borrowers can prepay or foreclose their loan against property. However, lenders may levy prepayment charges.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq7Heading" data-toggle="collapse" data-target="#faq7" aria-expanded="true" aria-controls="faq7">
                            <h5 class="mb-0">
                                What happens if one defaults on a loan against property?
                            </h5>
                        </div>
                        <div id="faq7" class="collapse" aria-labelledby="faq7Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Defaulting on a loan against property can lead to legal action by the lender, including the auction of the pledged property to recover the outstanding amount.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq8Heading" data-toggle="collapse" data-target="#faq8" aria-expanded="true" aria-controls="faq8">
                            <h5 class="mb-0">
                                Is it possible to transfer a loan against property to another lender?
                            </h5>
                        </div>
                        <div id="faq8" class="collapse" aria-labelledby="faq8Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Yes, loan against property can be transferred to another lender through a process known as balance transfer, which may involve certain fees and charges.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq9Heading" data-toggle="collapse" data-target="#faq9" aria-expanded="true" aria-controls="faq9">
                            <h5 class="mb-0">
                                What documents are required to apply for a loan against property?
                            </h5>
                        </div>
                        <div id="faq9" class="collapse" aria-labelledby="faq9Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Documents usually include property papers, income proof, identity proof, address proof, and bank statements.
                            </div>
                        </div>
                    </div>
            
                    <div class="card faqcard">
                        <div class="card-header" id="faq10Heading" data-toggle="collapse" data-target="#faq10" aria-expanded="true" aria-controls="faq10">
                            <h5 class="mb-0">
                                How long does it take to get approval for a loan against property?
                            </h5>
                        </div>
                        <div id="faq10" class="collapse" aria-labelledby="faq10Heading" data-parent="#faqAccordion">
                            <div class="card-body">
                                Approval timelines can vary but generally take a few days to a few weeks, depending on the lender's internal processes and documentation completeness.
                            </div>
                        </div>
                    </div>

                </div><!--Accordian-->



                </div><!--column1-->

                
            </div>
        </div>
        </div>
    </section>
    

    <!-- section9 -->

    <br><br><br>


     <!-- footer code Start -->
     <footer>
        <div class="footer-container">
            <div class="footer-section">
                <img src="{% static 'assets/img/mainlogo-removebg-preview.png' %}" alt="" class="logo">
                <p>&copy;2024 SLN Finserv &mdash; All Rights Reserved</p>
                <p>Toll-free Number &mdash; 1800-266-7576</p>
            </div>
            <div class="footer-section">
                <h3>LOANS</h3>
                <ul>
                    <li><a href="#">Home Loan</a></li>
                    <li><a href="#">Personal Loan</a></li>
                    <li><a href="#">Business Loan</a></li>
                    <li><a href="#">Car Loan</a></li>
                    <li><a href="#">Car Refinance</a></li>
                    <li><a href="#">Used Car Loan</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>KNOWLEDGE CENTER</h3>
                <ul>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Product Info</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>INSURANCE</h3>
                <ul>
                    <li><a href="#">Life Insurance</a></li>
                    <li><a href="#">Health Insurance</a></li>
                    <li><a href="#">General Insurance</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Grow With Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Data Storage Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>
        <div class="social-icons">
            <a href=""><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-youtube"></i></a>
            <a href=""><i class="bi bi-envelope-at-fill"></i></a>
        </div>
    </footer>
    <!-- footer code End -->




    {% comment %} <script src="{% static 'js/Main.js' %}"></script> {% endcomment %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->

        
</body>

</html>