<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Verification</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="container mt-5">
   
        <form action="" method="post">
            {% csrf_token %}

            
            <div class="row"><!--Row-->

                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">Personal Details Verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="personal_detail_verifaction" id="id_personal_detail_verifaction_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_personal_detail_verifaction_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="personal_detail_verifaction" id="id_personal_detail_verifaction_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_personal_detail_verifaction_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->

                 <!-- Documents Upload Verification -->
                 <div class="col-12 col-lg-6 mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold">Documents Upload Verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="documents_upload_verification" id="id_documents_upload_verification_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_documents_upload_verification_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="documents_upload_verification" id="id_documents_upload_verification_rejected" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_documents_upload_verification_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                 <!-- Documents Verification -->
                 <div class="col-12 col-lg-6 mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold"> kyc and document verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="kyc_and_document_verification" id="id_kyc_and_document_verification_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_kyc_and_document_verification_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="kyc_and_document_verification" id="id_kyc_and_document_verification_rejected" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_kyc_and_document_verification_rejected">Rejected</label>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                

                <!-- Eligibility Check Verification -->
                <div class="col-12 col-lg-6 mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold">Eligibility Check Verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="eligibility_check_verification" id="id_eligibility_check_verification_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_eligibility_check_verification_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="eligibility_check_verification" id="id_eligibility_check_verification_rejected" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_eligibility_check_verification_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- Bank Login Verification -->
                <div class="col-12 col-lg-6  mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold ">fiel officer visit inspection</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="field_officer_visit_inspection" id="id_field_officer_visit_inspection_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_field_officer_visit_inspection_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="field_officer_visit_inspection" id="id_field_officer_visit_inspection_rejected" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_field_officer_visit_inspection_rejected">Rejected</label>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- KYC and Document Verification -->
                <div class="col-12 col-lg-6  mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold"> Application fee paid</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="Application_fee_paid" id="id_Application_fee_paid_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_ Application_fee_paid_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="Application_fee_paid" id="id_ Application_fee_paid_rejected" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_ Application_fee_paid_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>



                <!-- E-NACH Verification -->
                <div class="col-12 col-lg-6 mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold"> tele verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="tele_verification" id="id_tele_verification_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_ tele_verification_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="tele_verification" id="id_tele_verification_rejected" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_tele_verification_rejected">Rejected</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                  <!-- Disbursment verification -->
                  <div class="col-12 col-lg-6  mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold">bank login fee paid </label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="bank_login_fee_paid" id="id_bank_login_fee_paid_verification" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_disbursment_verification">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="bank_login_fee_paid" id="id_bank_login_fee_paid_verification" value="Rejected" required>
                                <label class="form-check-label text-danger fw-normal" for="id_bank_login_fee_paidt_verification">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">bank login done</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="bank_login_done" id="id_bank_login_done_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_bank_login_done_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="bank_login_done" id="id_bank_login_done_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_bank_login_done_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->

                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold"> credit manager visit</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="credit_manager_visit" id="id_credit_manager_visit_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_credit_manager_visit_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="credit_manager_visit" id="id_credit_manager_visit_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_credit_manager_visit_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->

                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold"> bank/nbfc soft loan sanctioned  </label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="bank_or_nbfc_soft_loan_sanctioned" id="id_bank_or_nbfc_soft_loan_sanctioned_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_bank_or_nbfc_soft_loan_sanctioned_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="bank_or_nbfc_soft_loan_sanctioned" id="id_bank_or_nbfc_soft_loan_sanctioned_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_bank_or_nbfc_soft_loan_sanctioned_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->

                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold"> final loan sanctioned  </label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="final_loan_sanctioned" id="id_final_loan_sanctioned_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_final_loan_sanctioned_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="final_loan_sanctioned" id="id_final_loan_sanctionedn_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_final_loan_sanctioned">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->


                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">  legal techinal completed</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="legal_techinal_completed" id="id_legal_techinal_completed_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_legal_techinal_completed_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="legal_techinal_completed" id="id_legal_techinal_completed_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_legal_techinal_completed_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->


                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold"> agreement signatures done</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="agreement_signatures_done" id="id_agreement_signatures_done_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_agreement_signatures_done_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="agreement_signatures_done" id="id_agreement_signatures_done_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_agreement_signatures_done_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->


                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">  enach verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="enach_verification" id="id_enach_verification_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_enach_verification_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="enach_verification" id="id_enach_verification_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_enach_verification_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->


                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">disbursment_verification</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="disbursment_verification" id="id_disbursment_verification_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_disbursment_verification_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="disbursment_verification" id="id_disbursment_verification_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_disbursment_verification_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->

                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">  post_documentation</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="post_documentation" id="id_post_documentation_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_post_documentationn_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="post_documentation" id="id_post_documentation_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_post_documentation_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->


                <div class="col-12 col-lg-6 mb-3"><!--column-->
                    <div class="card shadow">
                        <div class="card-body">
                        <label for="" class="form-label text-center d-block fw-bold">cheque_issued</label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="cheque_issued" id="id_cheque_issued_approved" value="Approved" required>
                                <label class="form-check-label text-success fw-normal" for="id_cheque_issued_approved">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input verify fs-5" type="radio" name="cheque_issued" id="id_cheque_issued_rejected" value="Rejected" required> 
                                <label class="form-check-label text-danger fw-normal" for="id_cheque_issued_rejected">Rejected</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--column-->

                 <!-- Verfication Status -->
                 <div class="col-12 col-lg-6 mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                        <label class="form-label text-center d-block fw-bold">  total_application_status </label>
                        <div class="radio-wrapper d-flex" style="justify-content: space-around;">
                            <div class="form-check">
                                <input class="form-check-input fs-5" type="radio" name="total_application_status" id="id_total_application_status" value="Approved" required
                                {{% if form.total_application_status.value == "Approved" %}
                                checked
                               {% endif %}}>
                                <label class="form-check-label text-success fw-normal" for="id_total_application_status">Approved</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input fs-5" type="radio" name="total_application_statuss" id="id_total_application_statuss" value="Rejected" required
                                {{% if form.total_application_status.value == "Rejected" %}
                                checked
                               {% endif %}}>
                                <label class="form-check-label text-danger fw-normal" for="id_total_application_statuss">Rejected</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

               

                <button type="submit" class="btn btn-primary mt-5">Submit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
            </div><!--Row-->
            
            
            
        </form>
        </div>
        </div>
   
<br><br>


        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const allRadioButtons = document.querySelectorAll('.form-check-input');
        
                function updateRadioButtons() {
                    let startDisabling = false;
                    allRadioButtons.forEach((radio) => {
                        if (startDisabling) {
                            radio.disabled = true;
                        } else {
                            radio.disabled = false;
                        }
                        if (radio.checked && radio.value === 'Rejected') {
                            startDisabling = true;
                            
                        }
                       
                    });
                }
        
                allRadioButtons.forEach((radio) => {
                    radio.addEventListener('input', function() {
                        updateRadioButtons();
                    });
                });
        
               
                updateRadioButtons();
            });
        </script>
        


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->


 </body>
</html>
