{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Loan Form</title>

    <!--custom css-->
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script> 
    <style>
      .usedcar, .newcar,.job-field,.business-field {
          display: none;
      }
    </style> 
  </head>  
    
  <body>
    <div class="container mt-5">
        <h2>Car Loan Application Form</h2>
        <form method="post" id="form">
            {% csrf_token %}
            <div class="row">
                <!-- Personal Details -->
                <div class="col-lg-4 col-6">{{ form.first_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.last_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.gender|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.date_of_birth|as_crispy_field }}</div>
                <div class="col-lg-4 col-6" id="mobile_number">{{ form.mobile_number|as_crispy_field }}<div id="number-error1"></div></div>

                <!-- Car Details -->
                <div class="col-lg-4 col-6" id="car_loan_type">{{ form.car_loan_type|as_crispy_field }}</div>

                <!-- Used Car Fields -->
               
                    <div class="col-lg-4 col-6 usedcar">{{ form.car_vehicle_no|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 usedcar">{{ form.car_company_name|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 usedcar">{{ form.variant|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 usedcar">{{ form.model_year|as_crispy_field }}</div>
               

                <!-- New Car Fields -->
               
                    <div class="col-lg-4 col-6 newcar">{{ form.car_purchase_value_in_RS|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 newcar">{{ form.required_loan_amount1|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 newcar">{{ form.quotation_valaue_on_ex_showroom|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 newcar">{{ form.downpayment_amount|as_crispy_field }}</div>
                    <div class="col-lg-4 col-6 newcar">{{ form.showroom_quotation|as_crispy_field }}</div>
               

                <!-- Common Fields -->
                <div class="col-lg-4 col-6" id="pan_card_number">{{ form.pan_card_number|as_crispy_field }}<p id="pan-error"></p></div>
                <div class="col-lg-4 col-6" id="aadhar_card_number">{{ form.aadhar_card_number|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.marital_status|as_crispy_field }}</div>
                <div class="col-lg-4 col-6" id="email_id">{{ form.email_id|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.current_address|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.current_address_pincode|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.aadhar_address|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.aadhar_pincode|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.running_emis_amount_per_month|as_crispy_field }}</div>

                 <!-- Income source --->
                 <div class="col-lg-4 col-6" id="income_source">{{ form.income_source|as_crispy_field }}</div>

                 <!-- Job Fields -->
                 <div class="job-field col-lg-4 col-6" id="job-field">{{ form.net_salary_per_month|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.company_name|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.company_type|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.job_designation|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.job_joining_date|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.job_location|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.total_job_experience|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.work_email|as_crispy_field }}</div>
                 <div class="job-field col-lg-4 col-6">{{ form.office_address|as_crispy_field }}</div>              
 
                 <!-- Business Fields -->
                 <div class="business-field col-lg-4 col-6" id="business-field">{{ form.business_name|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.business_type|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.net_income_per_month|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.business_establishment_date|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.gst_certificate|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6" id="gst_number">{{ form.gst_number|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.mother_name|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.father_name|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.nature_of_business|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.turnover_in_lakhs_per_year|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.business_address|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.business_address_pincode|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.existing_loan_amount|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.required_loan_amount2|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.ref_1_person_name|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.ref_1_person_mobile_number|as_crispy_field }}<div id="number-error2"></div></div>
                 <div class="business-field col-lg-4 col-6">{{ form.ref_2_person_name|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.ref_2_person_mobile_number|as_crispy_field }}<div id="number-error3"></div></div>
                 <div class="business-field col-lg-4 col-6">{{ form.own_house|as_crispy_field }}</div>
                 <div class="business-field col-lg-4 col-6">{{ form.remarks|as_crispy_field }}</div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script>
        console.log("sucess");

        // carloantype
        document.querySelector('#id_car_loan_type').addEventListener('change', function() {
            // let usedcarFields = document.querySelector('.usedcar');
            // let newcarFields = document.querySelector('.newcar');
            console.log(this.value);
            if (this.value === "NEW") {


                 // usedcarfields 
                document.querySelectorAll('.usedcar').forEach((item)=>{

                    item.style.display="none";
                });
               
                document.getElementById('id_car_vehicle_no').required=false;
                // console.log(document.getElementById('id_car_vehicle_no').hasAttribute('required'));
                document.getElementById('id_car_company_name').required=false;
                // document.getElementById('id_car_vehicle_no').required=false;
                document.getElementById('id_variant').required=false;
                document.getElementById('id_model_year').required=false;



                // newcar
                document.querySelectorAll('.newcar').forEach((item)=>{

                             item.style.display="block";
                         });

                document.getElementById('id_car_purchase_value_in_RS').required=true;
                // console.log(document.getElementById('id_car_purchase_value_in_RS').hasAttribute('required'));
                document.getElementById('id_required_loan_amount1').required=true;
                document.getElementById('id_quotation_valaue_on_ex_showroom').required=true;
                document.getElementById('id_downpayment_amount').required=true;
                document.getElementById('id_showroom_quotation').required=true;


            }
          
            else {
                   // usedcarfields 
                   document.querySelectorAll('.usedcar').forEach((item)=>{

item.style.display="block";
});

document.getElementById('id_car_vehicle_no').required=true;
                // console.log(document.getElementById('id_car_vehicle_no').hasAttribute('required'));
                document.getElementById('id_car_company_name').required=true;
                // document.getElementById('id_car_vehicle_no').required=true;
                document.getElementById('id_variant').required=true;
                document.getElementById('id_model_year').required=true;

                // document.querySelector('.newcar').forEach((item)=>{

                //     item.style.display="none";
                // });



                  // newcar
                  document.querySelectorAll('.newcar').forEach((item)=>{

item.style.display="none";
});

document.getElementById('id_car_purchase_value_in_RS').required=false;
console.log(document.getElementById('id_car_purchase_value_in_RS').hasAttribute('required'));
document.getElementById('id_required_loan_amount1').required=false;
document.getElementById('id_quotation_valaue_on_ex_showroom').required=false;
document.getElementById('id_downpayment_amount').required=false;
document.getElementById('id_showroom_quotation').required=false;


            }

        });


        // income source


        document.querySelector('#id_income_source').addEventListener('change', function() {
            console.log(this.value);
            if (this.value === "Job") {
                document.querySelectorAll('.job-field').forEach((item)=>{
                    item.style.display="block";
                });
                document.querySelectorAll('.business-field').forEach((item)=>{
                    item.style.display="none";
                });

                document.getElementById('id_net_salary_per_month').required=true;
                // console.log(document.getElementById('id_net_salary_per_month').hasAttribute('required'));
                document.getElementById('id_company_name').required=true;
                document.getElementById('id_company_type').required=true;
                document.getElementById('id_job_designation').required=true;
                document.getElementById('id_job_joining_date').required=true;
                document.getElementById('id_job_location').required=true;
                document.getElementById('id_total_job_experience').required=true;
                document.getElementById('id_work_email').required=true;
                document.getElementById('id_office_address').required=true;

                document.getElementById('id_business_name').required=false;
                // console.log(document.getElementById('id_business_name').hasAttribute('required'));

                document.getElementById('id_business_type').required=false;
                document.getElementById('id_net_income_per_month').required=false;
                document.getElementById('id_business_establishment_date').required=false;
                document.getElementById('id_gst_certificate').required=false;
                document.getElementById('id_mother_name').required=false;
                document.getElementById('id_father_name').required=false;
                document.getElementById('id_nature_of_business').required=false;
                document.getElementById('id_turnover_in_lakhs_per_year').required=false;
                document.getElementById('id_business_address').required=false;
                document.getElementById('id_business_address_pincode').required=false;
                document.getElementById('id_existing_loan_amount').required=false;
                document.getElementById('id_required_loan_amount2').required=false;
                document.getElementById('id_ref_1_person_name').required=false;
                document.getElementById('id_ref_1_person_mobile_number').required=false;
                document.getElementById('id_ref_2_person_name').required=false;
                document.getElementById('id_ref_2_person_mobile_number').required=false;
                document.getElementById('id_own_house').required=false;
                document.getElementById('id_remarks').required=false;
            } else {
                document.querySelectorAll('.job-field').forEach((item)=>{
                    item.style.display="none";
                });
                document.querySelectorAll('.business-field').forEach((item)=>{
                    item.style.display="block";
                });

                document.getElementById('id_net_salary_per_month').required=false;
                document.getElementById('id_company_name').required=false;
                document.getElementById('id_company_type').required=false;
                document.getElementById('id_job_designation').required=false;
                document.getElementById('id_job_joining_date').required=false;
                document.getElementById('id_job_location').required=false;
                document.getElementById('id_total_job_experience').required=false;
                document.getElementById('id_work_email').required=false;
                document.getElementById('id_office_address').required=false;

                document.getElementById('id_business_name').required=true;
                document.getElementById('id_business_type').required=true;
                document.getElementById('id_net_income_per_month').required=true;
                document.getElementById('id_business_establishment_date').required=true;
                document.getElementById('id_gst_certificate').required=true;
                document.getElementById('id_mother_name').required=true;
                document.getElementById('id_father_name').required=true;
                document.getElementById('id_nature_of_business').required=true;
                document.getElementById('id_turnover_in_lakhs_per_year').required=true;
                document.getElementById('id_business_address').required=true;
                document.getElementById('id_business_address_pincode').required=true;
                document.getElementById('id_existing_loan_amount').required=true;
                document.getElementById('id_required_loan_amount2').required=true;
                document.getElementById('id_ref_1_person_name').required=true;
                document.getElementById('id_ref_1_person_mobile_number').required=true;
                document.getElementById('id_ref_2_person_name').required=true;
                document.getElementById('id_ref_2_person_mobile_number').required=true;
                document.getElementById('id_own_house').required=true;
                document.getElementById('id_remarks').required=true;
            }


    });    
</script>

<!----- Validations -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('#id_first_name,#id_last_name,#id_father_name,#id_mother_name,#id_ref_1_person_name,#id_ref_2_person_name,#id_company_name,#id_job_designation,#id_remarks').forEach((s) => {
    console.log('firstname');
    s.addEventListener('input', function (e) {
        var value = e.target.value;
        e.target.value = value.replace(/[^A-Za-z]/g, '');
    });
});

});
</script>

  <script>

  document.addEventListener('DOMContentLoaded', function () {
    const hasGstCertificateField = document.querySelector('#id_has_gst_certificate');
   
    const maxnumberlength10 = document.querySelectorAll('#id_mobile_number, #id_net_income_per_month,#id_running_emis_amount_per_month,#id_turnover_in_lakhs_per_year,#id_ref_2_person_mobile_number,#id_ref_1_person_mobile_number,#id_required_loan_amount,#id_business_address_pincode,#id_current_address_pincode,#id_aadhar_pincode');
    const panField = document.getElementById('id_pan_card_number');
    const panError = document.getElementById('pan-error');
    const panPattern = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;

    console.log('im hi');

    const toggleGstNumberField = () => {
        if (hasGstCertificateField.value === 'Y') {
            console.log("jiii");
            document.getElementById('div_id_gst_number').style.display = "block";
            document.getElementById('id_gst_number').required = true;
            console.log(document.getElementById('id_gst_number').hasAttribute('required'));
        } else {
            document.getElementById('div_id_gst_number').style.display = "none";
            document.getElementById('id_gst_number').required = false;
            console.log(document.getElementById('id_gst_number').hasAttribute('required'));
        }
    };

    const panCardValidation = () => {
        if (panPattern.test(panField.value)) {
            panError.innerText = '';
        } else {
            panError.innerText = 'Invalid PAN card number';
            panError.style.color = 'red';
        }
    };

    panField.addEventListener('change', panCardValidation);
    
    hasGstCertificateField.addEventListener('change', toggleGstNumberField);
    maxnumberlength10.forEach((element) => {
        element.addEventListener('input', (e) => {
            const maxLength = 10;
            const input = e.target;
            console.log(e.target.id);
            if (input.value.length > maxLength) {
                input.value = input.value.slice(0, maxLength);
            }
        });
    });

    // Add the Aadhar length validation correctly
    document.querySelectorAll('#id_aadhar_card_number').forEach((element) => {
        element.addEventListener('input', (e) => {
            const maxLength = 12;
            const input = e.target;
            if (input.value.length > maxLength) {
                input.value = input.value.slice(0, maxLength);
            }
        });
    });

    // Initial check
    toggleGstNumberField();

    document.querySelectorAll('#id_mobile_number,#id_aadhar_card_number,#id_current_address_pincode,#id_aadhar_pincode,#id_running_emis_amount_per_month,#id_net_income_per_month,#id_gst_number,#id_turnover_in_lakhs_per_year,#id_business_address_pincode,#id_required_loan_amount,#id_ref_1_person_mobile_number,#id_ref_2_person_mobile_number').forEach((numbers) => {
        numbers.addEventListener('input', (e) => {
            if (e.target.value <= 0) {
                e.target.value = '';
            }
        });
    });


    document.getElementById('id_date_of_birth').addEventListener('change',(e)=>{
        const datevalue=e.target.value;
        const dateparts=datevalue.split('-');
        const year=dateparts[0];
  
        if(year.length > 4 ){
          dateparts[0]=year.slice(0,4);
          e.target.value=dateparts.join('-');
          
        }
        console.log("hi");
        const currentYear=new Date().getFullYear();
        if(year > currentYear){
          dateparts[0]=currentYear;
          e.target.value=dateparts.join('-');
         
  
        }
        console.log( e.target.value);
  
      });

});

</script>
<script>
    function validateEmail() {
        var emailInput = document.getElementById("email_id").value;
        var emailError = document.getElementById("emailError");
        var emailPattern = /^[a-zA-Z]/; // Regular expression to check if email starts with an alphabet
    
        if (!emailPattern.test(emailInput)) {
            emailError.style.display = "inline";
            return false; // Prevent form submission
        } else {
            emailError.style.display = "none";
            return true; // Allow form submission
        }
    }
    </script>


</body>
</html>




