{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CAR Loan Update Form</title>

    <!--custom css-->

    <link rel="stylesheet" href="{% static "apply_for_business_loan.css" %}">
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log("View Car");
            document.querySelectorAll('input,textarea').forEach(e => {
                e.readOnly = false;
               console.log(e.hasAttribute('readOnly'));
            });

            const a=document.getElementById('id_gst_certificate');
            

           
        });
    </script>


    <style>
        #div_id_gst_number label::after{
    content: '*';
    color: red;
}
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Car Loan Update Application Form</h2>

        <form method="post" id="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-6">{{ form.first_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.last_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.gender|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.date_of_birth|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.mobile_number|as_crispy_field }} <div id="number-error1"></div></div>
                <div class="col-lg-4 col-6">{{ form.pan_card_number|as_crispy_field }}<p id="pan-error"></p></div>
                <div class="col-lg-4 col-6">{{ form.aadhar_card_number|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.marital_status|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.email_id|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.current_address|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.current_address_pincode|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.aadhar_address|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.aadhar_pincode|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.running_emis_amount_per_month|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.car_loan_type|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.car_vehicle_no|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.car_company_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.variant|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.model_year|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.car_purchase_value_in_RS|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.quotation_valaue_on_ex_showroom|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.showroom_quotation|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.downpayment_amount|as_crispy_field }}</div>        
                <div class="col-lg-4 col-6">{{ form.required_loan_amount1|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.income_source|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.net_salary_per_month|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.company_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.job_designation|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.job_joining_date|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.business_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.business_type|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.net_income_per_month|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.business_establishment_date|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.gst_certificate|as_crispy_field }}</div>
                <div class="col-lg-4 col-6" id="gst_number_field">{{ form.gst_number|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.mother_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.father_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.nature_of_business|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.turnover_in_lakhs_per_year|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.business_address|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.business_address_pincode|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.existing_loan_amount|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.required_loan_amount2|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.ref_1_person_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.ref_1_person_mobile_number|as_crispy_field }} <div id="number-error2"></div></div>
                <div class="col-lg-4 col-6">{{ form.ref_2_person_name|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.ref_2_person_mobile_number|as_crispy_field }} <div id="number-error3"></div></div>
                <div class="col-lg-4 col-6">{{ form.own_house|as_crispy_field }}</div>
                <div class="col-lg-4 col-6">{{ form.remarks|as_crispy_field }}</div>
            </div>
            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>  

    

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.4/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
